.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
 
}

.img{
  height: 20vh;
  padding: 2rem;
  border-radius: 999px;
  /* border: 2px solid black; */
}

